# Copie este arquivo para .env e ajuste conforme o ambiente

# Para rodar LOCAL (dotnet run):
# REACT_APP_API_URL=http://localhost:5155/api

# Para rodar com DOCKER:
REACT_APP_API_URL=http://localhost:8080/api
NODE_ENV=development
